{% extends 'main.html'%}
{% block crud_container %}
    {% if user %}
        <article class="card container fluid">
            <h3>User Details</h3>
            <p><strong>ID:</strong> {{ user.id }}</p>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Age:</strong> {{ user.age }}</p>
        </article>
        <br>
    {% else %}
        <section class="container-fluid">
            <h2 align="center"> Users </h2>
            <br>
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% if users %}
                        {% for user in users %}
                            <li class="list-group-item">
                                <a href="/users/{{ user.id }}">{{ user.username }} ({{ user.age }} years old)</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">No users found</li>
                    {% endif %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endblock %}
